<section class="about">
  <div class="container about-bg">
      <div class="about__title">О НАС</div>
      <div class="about__disc1"><span>АВТОАТЕЛЬЕ AVANGARD AUTO</span> - это дружная команда профессионалов, которая выполняет качественно свою работу уже более 6 лет! </div>
      <div class="about__disc2">Мы реализуем любые задачи по перетяжке салона автомобиля и его деталей!</div>
  </div>
  <div class="about-bg_row about-bg_row_1"><span></span></div>
  <div class="about-bg_row about-bg_row_2"><span></span></div>
</section>