<section class="usluga">
  <div class="container">
    <div class="usluga-hlebnie"><a href="/" class="usluga-hlebnie__link">Главная</a> / Перетяжка руля</div>
    <div class="usluga-content">
      <div class="usluga-content__gallery gallery">
        <div class="gallery-big">
          <img src="../src/img/test/img1200.jpg" alt="big">
        </div>
      </div>
      <div class="usluga-content__text text">
        <div class="text-wrap">
            <div class="text-wrap-title"><span>НАШИ БУДНИ</span></div>
            <div class="text-wrap-title">22.06.2019</div>
        </div>
        <div class="usluga-content__disc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in luptate velit esse cillum dolore
        </div>
        <!-- <button class="usluga-content__btn consult-btn">
            БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
            <span>ЖМИ</span>
          </button> -->
      </div>

    </div>
  </div>
</section>