<section class="blog">
  <div class="container blog-container">
    <div class="usluga-hlebnie"><a href="/" class="usluga-hlebnie__link">Главная</a> / Блог</div>
    <div class="blog-content">
      <div class="blog-item">
          <div class="blog-text">
            <div class="blog-text__title">НАШИ БУДНИ</div>
            <div class="blog-text__disc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in luptate velit esse cillum dolore </div>
            <div class="blog-text__date">22.06.2019</div>
          </div>
          <div class="blog-img">
            <div class="blog-img__picture">
              <img src="../src/img/test/img1200.jpg" alt="image">
              <div class="blog-img__btn">
                <a href="blog-page.html">ПОДРОБНЕЕ</a>
                <span></span>
              </div> 
            </div>
          </div>
      </div>
      <div class="blog-item">
          <div class="blog-text">
            <div class="blog-text__title">НАШИ БУДНИ</div>
            <div class="blog-text__disc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in luptate velit esse cillum dolore </div>
            <div class="blog-text__date">22.06.2019</div>
          </div>
          <div class="blog-img">
            <div class="blog-img__picture">
              <img src="../src/img/test/img1200.jpg" alt="image">
              <div class="blog-img__btn">
                <a href="blog-page.html">ПОДРОБНЕЕ</a>
                <span></span>
              </div> 
            </div>
          </div>
      </div>
    </div>
    <div class="blog-navigation">
      <span class="blog-navigation-item blog-navigation-active">1</span>
      <span class="blog-navigation-item">2</span>
      <span class="blog-navigation-item">3</span>
    </div>
  </div>
</section>  