<section class="header">
    <div class="container header-bg">
        <div class="header-top">
            <div>
              <a href="index.html" class="header-top__logo"></a>
            </div>
            <div class="header-top__phone">
              <a href="tel:3752960881808" target="_blank"><span></span> + 375 (29) 608 18 08</a>
            </div>
            <div class="header-menu">
                <a href="#what">Почему выбирают нас</a>
                <a href="#about">О нас</a>
                <a href="#predlagaem">Услуги</a>
                <a href="#portf">Портфолио</a>
                <a href="blog.html">Блог</a>
                <a href="#footer">Контакты</a>
            </div>
            <div class="header-burger"></div>
        </div>
        <div class="header-main">
          <h1 class="header-main__title">АВТОАТЕЛЬЕ <span>AVANGARD&nbsp;AUTO</span></h1>
        </div>
        <div class="header-main__disc">
            В нашей компании Вы можете заказать все, что нужно для обновления интерьера автомобиля: от обтяжки ручки КПП до вышивки инициалов на подголовниках сидений
        </div>
        <button class="header-main__btn consult-btn" id="button">
          БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
          <span>ЖМИ</span>
          <canvas id="myCanvas" width="10" height="10"></canvas>
        </button>
    </div>
    <div class="header_row header_row_1"><span></span></div>
    <div class="header_row header_row_2"><span></span></div>
</section>