<section class="portf">
  <div class="container">
    <div class="portf__title">ПОРТФОЛИО</div>
    <div class="portf__content">
      <div class="portf__content-item">
        <a href="#">
          <div class="img">
              <img src="../src/img/p_img-1.png" alt="img 1">
          </div>
          <span class="portf__content-name">Перетяжка руля</span>
          <div class="portf__content-model">Audi A 8</div>
        </a>
      </div>
      <div class="portf__content-item">
        <a href="#">
          <div class="img">
              <img src="../src/img/p_img-1.png" alt="img 1">
          </div>
          <span class="portf__content-name">Перетяжка руля</span>
          <div class="portf__content-model">Audi A 8</div>
        </a>
      </div>
      <div class="portf__content-item">
        <a href="#">
          <div class="img">
              <img src="../src/img/p_img-1.png" alt="img 1">
          </div>
          <span class="portf__content-name">Перетяжка руля</span>
          <div class="portf__content-model">Audi A 8</div>
        </a>
      </div>
      <div class="portf__content-item">
        <a href="#">
          <div class="img">
              <img src="../src/img/p_img-1.png" alt="img 1">
          </div>
          <span class="portf__content-name">Перетяжка руля</span>
          <div class="portf__content-model">Audi A 8</div>
        </a>
      </div>
      <div class="portf__content-item">
        <a href="#">
          <div class="img">
              <img src="../src/img/p_img-1.png" alt="img 1">
          </div>
          <span class="portf__content-name">Перетяжка руля</span>
          <div class="portf__content-model">Audi A 8</div>
        </a>
      </div>
      <div class="portf__content-item">
        <a href="#">
          <div class="img">
              <img src="../src/img/p_img-1.png" alt="img 1">
          </div>
          <span class="portf__content-name">Перетяжка руля</span>
          <div class="portf__content-model">Audi A 8</div>
        </a>
      </div>
    </div>
  </div>
</section>