<section class="predlagaem" id="predlagaem">
  <div class="container predlagaem-bg">
    <div class="predlagaem__title">ЧТО МЫ ПРЕДЛАГАЕМ</div>
    <div>
        <div class="predlagaem-content">
            <div class="predlagaem-content__item predlagaem-content__item_1">
                <span>ОбТяжка руля и ручки КПП</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_2">
                <span>ПОШИВ САЛОНА АВТО</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_3">
                <span>ПЕРЕТЯЖКА<br>ПОТОЛКА</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_4">
                <span>ВЫШИВКА И ТИСНЕНИЕ</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_5">
                <span>ПЕРЕТЯЖКА<br>ТОРПЕДО</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_6">
                <span>РЕМОНТ<br>САЛОНА</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_7">
                <span>УСТАНОВКА
                    ПОДОГРЕВА
                    СИДЕНИЙ</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_8">
                <span>ПЕРЕТЯЖКА<br>
                    ДВЕРНЫХ КАРТ</span>
            </div>
            <div class="predlagaem-content__item predlagaem-content__item_9">
                <span>ВОССТОНОВЛЕНИЕ
                    ПОДУШЕК 
                    БЕЗОПАСНОСТИ</span>
            </div>
        </div>
    </div>
    <div class="r-block">
        <div class="car"></div>
    </div>
  </div>
  
  
</section>