<section class="usluga">
  <div class="container">
    <div class="usluga-hlebnie"><a href="/" class="usluga-hlebnie__link">Главная</a> / Перетяжка руля</div>
    <div class="usluga-content">
      <div class="usluga-content__gallery gallery">
        <div class="gallery-big">
          <img src="../src/img/test/img1200.jpg" alt="big">
        </div>
        <div class="gallery-small">
          <div class="gallery-small-wrap">
              <img src="../src/img/test/img1200.jpg" alt="mini">
          </div>
          <div class="gallery-small-wrap">
              <img src="../src/img/test/img1200.jpg" alt="mini2">
          </div>
          
        </div>
      </div>
      <div class="usluga-content__text text">
        <div class="text-wrap">
            <div class="text-wrap-title">УСЛУГА: <span>Перетяжка руля</span></div>
            <div class="text-wrap-title">МОДЕЛЬ АВТОМОБИЛЯ: <span>BMW</span></div>
        </div>
        <div class="usluga-content__disc">
            Каждая работа выполняется с высоким качеством, в короткие сроки и с персональных подходом к каждому случаю. В нашем тех центры к каждому клиенту идет индивидуальный подход. Для компании характерен профессионализм и высший уровень обслуживания, позволяющий выстраивать честные и долгосрочные отношения с клиентами.
        </div>
        <button class="usluga-content__btn consult-btn">
            БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
            <span>ЖМИ</span>
          </button>
      </div>

    </div>
  </div>
</section>